@charset "utf-8";
html{

}
body{
    position: relative;
}
/* header */
header{
    background:#3C4767;
    position: fixed;
    top: 0;
    width: 100%;
    height: 225px;
    z-index: 1000;
}

.scroll-bar{
    overflow-y: auto;
    height: calc(100% - 1px);
}

/* main content */
#row{
    display: flex;
    flex-flow: row wrap;
    margin-top: 225px;
}
#container{
    flex: 0 0 78.5%;
}


#side-bar {
    position: fixed;
    top: 225px; /* header + nav の高さ */
    right: 0;
    width: 250px; /* 必要に応じて調整 */
    height: calc(100% - 225px - 87px); /* ヘッダー・ナビ分を引いた高さ */
    background-color: #ffffff;
    overflow-y: auto; /* サイドバー自体にスクロールが必要なら */
    padding: 10px;

}
.js-modal {
    background-color: rgba(10, 10, 10, 0.4);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
.modal-main{ /* ① モーダルウィンドウを非表示にする。*/
    display: none;
}

.modal-inner { /* ② モーダル背景を画面幅いっぱいに設定し、位置を固定する。 */
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    background-color: #ffffff;
    color: #666666;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}


.inner-content{ /* ③ モーダル内の要素全体の子要素を中央揃えにする。 */
    text-align: center;
    margin: 0;
    padding: 0;
    max-width: 1024px;
}

.up {
    /* padding: 21px 10px; */
    /* width: 300px; */
    /* font-size: 18px; */
    background:#3C4767;
    /* margin:auto; */
    /* transform: scale(0.9); */
    /* transform: scale(180); */
    display: inline-block;     /* インラインブロック化 */
    transform: rotate( 0deg );
    transition: transform 0.5s;
}

.up.active{
    transform: rotate( 180deg );
}
  
.text{
    display: none;
}  



